/*
    Palette:
    #170217   Dark purple
    #420042   Russian violet
    #FDB1E4   Lavender pink
    #5C3700   Sepia
    #FCF988   Icterine
    #FFFFFF   White
*/

@font-face {
    font-family: text;
    src: url("fonts/DejaVuSans.ttf");
}

@font-face {
    font-family: header;
    src: url("fonts/LilitaOne-Regular.ttf");
}

/* basic stuff */

body, h1, h2, h3, a {
    text-align: center;
    z-index: 2;
    color: white;
    margin-top: 6px;
    margin-bottom: 4px;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: header;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: text;
}

hr {
    margin: 0px 0px 0px 0px;
    color: #170217;
}

a {
    text-decoration: dotted underline;
    color: white;
}

button {
    background-color: #5C3700;
    color: #FCF988;
    margin: 2px 6px 2px 6px;
    min-width: 60px;
    min-height: 32px;
}

/* my stuff */
.gameDiv {
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    max-width: 88%;
    opacity: 0.8;
    background-color: #420042;
    border: thick #FDB1E4;
    border-style: solid;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .gameDiv {
        margin-left: 20%;
        margin-right: 20%;
        max-width: 60%;
    }
}

.gameImg{
    text-align: left;
    height: 64px;
    width: 64px;
}

.command{
    background-color: black;
    color: limegreen;
    min-width: 96%;
    max-width: 96%;
    min-height: 96px;
    max-height: 192px;
}

.lang {
    border-radius: 4px;
    font-size: 20px;
    outline: 2px solid white;
    margin-left: 4px;
    margin-right: 4px;
}

.topNavigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    z-index: 10;
    background-color: rgb(253, 177, 228, 0.5); /* FDB1E4 */
    border-bottom: 8px groove;
    border-color: #FCF988;
    color: #170217;
    font-size: 18px;
}

.topButton {
    position: absolute;
    height: 100%;
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: #FCF988;
    background-color: #420042;
    color: #170217;
    word-wrap: anywhere;
    opacity: 100%;
}

@media only screen and (min-width: 768px) {
    .topNavigation {
        font-size: 32px;
    }
}

/* particles stuff */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#gamecontainer {
    width: 800px;
    height: 600px;
    background-color: beige;
    border: 1px solid black;
    position: relative;
    margin: 0 auto;
}